.image {
    border-radius: 7px;
    opacity: 1;
    transition: .5s ease;
}

.title{
    float: left;
}

.editdiv {
    margin-top: 20px;
    margin-left: 200px;
}

.edit {
    background-color: #1337ac;
    padding: 5px 20px;
    border: 2px;
    color: white;
    transition-duration: 0.4s;
}
.buy:hover {
    color: #808080;
}
.buy {
    background-color: #05b213;
    padding: 5px 20px;
    border: 2px;
    color: white;
    transition-duration: 0.4s;
}
.buy:hover {
    color: #808080;
}
.delete {
    background-color: #ee0d0d;
    padding: 5px 20px;
    border: 2px;
    color: white;
    transition-duration: 0.4s;
}

.delete:hover {
    background-color: #ca1e1e;
    color: #808080;
}


.description{
    width: 600px;
}

.genre {
    color: white;
    display: inline-block;
    border-radius: 5px;
    border: 4px dotted aqua;
    background-color: aqua;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    min-height: 100px;
    min-width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.form-wrapper{
    margin-right: 63%;
}

input[type="hidden"] {
    display: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

/* Optional styling for error message */
input:invalid {
    border: 1px solid red;
}